In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
tennis = pd.read_csv("https://raw.githubusercontent.com/sjwhitworth/golearn/master/examples/datasets/tennis.csv")

In [3]:
tennis.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
outlook = tennis.groupby(['outlook','play']).size()
temp = tennis.groupby(['temp','play']).size()
humidity = tennis.groupby(['humidity','play']).size()
wind = tennis.groupby(['windy','play']).size()

In [5]:
play = tennis['play'].value_counts()

### What is the probability of playing tennis given it is rainy?

In [6]:
ct = pd.crosstab(tennis['outlook'],tennis['play'],margins=True)

In [7]:
print(ct)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [28]:
prob_yes = ct.iloc[3,1] / ct.iloc[3,2]
prob_rain_yes = ct.iloc[1,1] / ct.iloc[3,1]

In [85]:
prob_result_yes = prob_yes * prob_rain_yes

In [86]:
prob_result_yes = np.round(prob_result_yes,3)

In [87]:
prob_result_yes

0.214

In [88]:
prob_no = ct.iloc[3,0] / ct.iloc[3,2]
prob_rain_no = ct.iloc[1,0] / ct.iloc[3,0]

In [89]:
prob_result_no = prob_no * prob_rain_no

In [91]:
prob_result_no = np.round(prob_result_no,3)

In [92]:
prob_result_no

0.143

In [95]:
play_yes = prob_result_yes / (prob_result_yes + prob_result_no)
np.round(play_yes * 100,2)

59.94

In [96]:
play_no = prob_result_no / (prob_result_yes + prob_result_no)
np.round(play_no * 100,2)

40.06

In [97]:
if play_yes > play_no:
    print("Yes You can play")
else:
    print("No You can not play")

Yes You can play

### What is the probability of playing Tennis given it is sunny and hot??

In [40]:
outlook_table = pd.crosstab(tennis['outlook'],tennis['play'],margins=True)

In [41]:
print(outlook_table)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [43]:
temp_table = pd.crosstab(tennis['temp'],tennis['play'],margins=True)

In [44]:
print(temp_table)

play  no  yes  All
temp
cool   1    3    4
hot    2    2    4
mild   2    4    6
All    5    9   14

In [49]:
prob_yes = temp_table.iloc[3,1] / temp_table.iloc[3,2]
prob_sunny_yes = outlook_table.iloc[2,1] / outlook_table.iloc[3,1]
prob_hot_yes = temp_table.iloc[1,1] / temp_table.iloc[3,1]

In [71]:
prob_res_yes = (prob_yes * prob_sunny_yes * prob_hot_yes)

In [72]:
prob_res_yes =np.round(prob_res_yes,3)

In [73]:
prob_res_yes

0.032

In [58]:
prob_no = temp_table.iloc[3,0] / temp_table.iloc[3,2]
prob_sunny_no = outlook_table.iloc[2,0] / outlook_table.iloc[3,0]
prob_hot_no = temp_table.iloc[1,0] / temp_table.iloc[3,0]

In [74]:
prob_res_no = (prob_no * prob_sunny_no * prob_hot_no)

In [75]:
prob_res_no = np.round(prob_res_no,3)

In [76]:
prob_res_no

0.086

In [80]:
play_yes = (prob_res_yes) / (prob_res_yes + prob_res_no)
np.round(play_yes * 100,2)

27.12

In [81]:
play_no = (prob_res_no) / (prob_res_yes + prob_res_no)
np.round(play_no * 100,2)

72.88

#### Ans:
since, probability of `play_no` is more than probability of `play_yes`. So The Probability of Playing Tennis is no given it is sunny and hot